.diferencial {
    height: 1000px;
}

.tituloOqueNosFazDiferentes {
    color: orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding-top: 1.5rem;
}

.conteudoUnicos {
    display: flex;
    gap: 500px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-left: 13rem;
    padding-top: 1.5rem;

}

.subtituloListaOqueFazUnicosListaItens {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.paragrafoOqueFazUnidos {
    text-align: left;
    line-height: 35px;
    font-size: 30px;
    align-items: right;
}


.paragrafoComplemento {
    align-items: right;
}

.conteudoSecundario {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 5rem;
}