.mainPerfumeDeOuro {
    background: radial-gradient(circle at 30% 50%, #6b3e1e 0%, #000000 85%);
    height: 1000px;
    padding-left: 5.5rem;
}

.conteudoDivPerfumeDeOuro {
    display: flex;
    padding-left: 3rem;
    justify-content: space-between;
}

.tituloPrincipalSecaoPerfumeDeOuro {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 40px;
    padding-top: 2rem;
}

.tituloPerfumeDeOuro {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat';
    transform: translate(-400px, 350px);
}

.imgPerfumeDeOuro {
    width: 1000px;
}

.paragrafoDeOuro {
    color: #EFA94B;
    font-family: 'Montserrat';
    transform: translate(-250px, 300px);
    font-size: 50px;
}

.paragrafoDescricao {
    color: #fff;
    font-size: 21px;
    font-family: 'Montserrat';
    transform: translate(-70px, 450px);
}


.btn-transparente {
    /* Fundo transparente e borda branca */
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;

    /* Bordas arredondadas e espaçamento */
    padding: 12px 30px;
    border-radius: 50px;
    /* Faz a borda ficar bem redonda */

    /* Tipografia */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    /* Transição suave para o efeito de passar o mouse */
    transition: all 0.3s ease;
}

/* Efeito ao passar o mouse (Hover) */
.btn-transparente:hover {
    background-color: #ffffff;
    color: #000000;
    /* Inverte as cores para destaque */
}