.conteudoTodoBlog {
    height: 650px;
}

.subtituloConteudoTexto {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 30px;
    padding-right: 100rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.primeiroParagrafo {
    color: #fff;
    font-family: 'Montserrat';
    text-align: left;
    padding-left: 16.9rem;
    font-size: 30px;
    line-height: 50px;
}

.segundoparagrafo {
    color: #fff;
    font-family: 'Montserrat';
    text-align: left;
    padding-left: 16.9rem;
    font-size: 30px;
    line-height: 50px;
}