.nossosValores {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}


.imgNossosValores {
    width: 900px;
    font-family: 'Montserrat', sans-serif;
    height: 800px;
}

.nossoValoresParagrafo {
    /* 1. Alinhamento e Leitura */
    text-align: justify;
    line-height: 1.8;
    /* Aumentei para 1.8 para dar mais elegância */
    max-width: 650px;
    margin: 0 auto 2rem auto;
    /* Centraliza o bloco na página e dá espaço embaixo */

    /* 2. Tipografia */
    font-family: 'Georgia', serif;
    /* Fontes com serifa passam mais sofisticação */
    color: #fff;
    /* Um cinza muito escuro é mais suave que o preto puro */
    font-size: 1.1rem;

    /* 3. Detalhe Elegante: Recuo na primeira linha */
    text-indent: 30px;
}

.nossoValoresParagrafo::first-letter {
    font-size: 35px;
}

.titutloNossoValores {
    padding-top: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 60px;
    padding-left: 28rem;
    padding-top: 5rem;
}

.conteudoDosParagrafos {
    padding-left: 25rem;
    padding-top: 6rem;
}